<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-white">
    <a class="navbar-brand" href="#">
      <%= image_tag ('pipoca.jpg'), width:"30", height:"30", class:"d-inline-block align-top", alt:""%>
      Pipoqueiros
    </a>
  </nav>

      <div class="container mt-3">
    <%= yield %>
        </div>

  </body>
</html>
